@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.specialty-card {
  display: grid;
  grid-template-columns: minmax(auto, 400px) minmax(auto, 600px) 250px;
  transition: $transition;
  max-width: $container-width;
  overflow: hidden;
  min-height: 350px;
  border-radius: 15px 0 0 15px;
  padding-block: 20px;
  animation: slideInFromBottom 0.5s ease forwards;

  @include media($breakpoints-tablet-landscape) {
    grid-template-columns: minmax(300px, 400px) minmax(auto, 600px);
  }

  @include media($breakpoints-tablet) {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px 1fr;
    padding-inline: 10px;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__image-container {
    margin-right: 3%;
    height: 100%;
    overflow: hidden;

    @include hover {
      .specialty-card__image {
        scale: 1.1;
      }
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: $transition;
    border-radius: $border-radius-medium;
  }

  &__title {
    @include font(1.6rem, $font-weight-regular, black);
    margin-bottom: $spacing-sm;
    text-decoration: none;
    transition: color 0.3s ease;

    @include media($breakpoints-tablet) {
      font-size: $font-size-h3;
    }

    @include media($breakpoints-mobile) {
      font-size: $font-size-h4;
    }

    @include hover {
      color: $accent-color;
    }

    h3 {
      margin: 0;
      padding: 0;
    }
  }

  &__code {
    @include font($font-size-text, $font-weight-medium, $main-text-color);
    margin-bottom: $spacing-md;

    @include media($breakpoints-mobile) {
      font-size: $font-size-text-small;
      margin-bottom: $spacing-sm;
    }
  }

  &__button {
    @include button($padding: $spacing-xs $spacing-sm, $background-color: transparent, $color: black);
    border: 1px solid $accent-color;
    text-decoration: none;
    margin-right: 20px;

    &--kind {
      border-color: $main-color;

      @include hover {
        color: white;
        background-color: $main-color;
      }
    }

    &--group {
      border-color: $accent-color;

      @include hover {
        color: white;
        background-color: $accent-color;
      }
    }

    @include media($breakpoints-mobile) {
      font-size: $font-size-text-small;
      padding: $spacing-xs $spacing-xs;
    }
  }

  &__info {
    @include media(992px) {
      display: none;
    }
    p {
      @include font($font-size-text, $font-weight-medium, $main-text-color);
      margin-top: 20px;
    }
  }

  &.exit {
    animation: slideOutToTop 0.4s ease forwards;
  }
}
